.w-webflow-badge {
	display: none !important;
}

a {
	color: inherit;
	font-size: inherit;
	transition: all 0.3s ease;
	opacity: 1;

	&:hover {
		opacity: 0.75;
	}
}

.bg-body img {
	width: 120vw;
	max-width: none;
	height: 120vh;
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 30s linear infinite alternate bg-move;
}

html .xxl {
	font-size: 640px;
}

@media (max-height: 900px) and (min-width: 1201px) {
	html .xxl {
		font-size: 65vh;
	}
}

@media (max-width: 1200px) {
	html .xxl {
		font-size: 55vw;
	}
}

.counter:not(.is-visible) {
	visibility: hidden;
}


@keyframes bg-move {
	0% {
		transform: translate(-50%, -50%)
	}

	25% {
		transform: translate(-52%, -52%)
	}

	50% {
		transform: translate(-55%, -50%)
	}

	75% {
		transform: translate(-50%, -55%)
	}

	100% {
		transform: translate(-45%, -50%)
	}
}