.w-webflow-badge {
  display: none !important;
}

a {
  color: inherit;
  font-size: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
a:hover {
  opacity: 0.75;
}

html .xxl {
  font-size: 640px;
}

@media (max-height: 900px) and (min-width: 1201px) {
  html .xxl {
    font-size: 65vh;
  }
}
@media (max-width: 1200px) {
  html .xxl {
    font-size: 55vw;
  }
}
.counter:not(.is-visible) {
  visibility: hidden;
}

.xxl {
  -webkit-background-clip: text;
          background-clip: text;
}

.bg-body-img {
  width: 100vw;
  max-width: none;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}